# Responsible for defining/setting cooling fan configuration:
#   MMU_HAS_FANS
#
# Fan parameter tokens which must be inside if MMU_HAS_FANS clause in cfg templates:
#   PARAM_FAN_MAX_POWER
#   PARAM_FAN_KICK_START_TIME
#   PIN_FAN   (single MCU)
#   PIN_FAN_X (per-gate MCU)
#
# Can be disabled and forced off with:
#   select UNSELECT_MMU_HAS_FANS


config UNSELECT_MMU_HAS_FANS
  def_bool n
config MMU_HAS_FANS
  bool "Has cooling fans?"
  depends on !UNSELECT_MMU_HAS_FANS
  forceshow
  default n
  help
    Enable this if you have cooling fans installed in your MMU unit(s).
    Fans will be defined as hidden [fan_generic] sections in the generated config.


# -------------------------------------
# Fan config
# -------------------------------------

if MMU_HAS_FANS
  menu "Fan config"

    config PARAM_FAN_MAX_POWER
      float "Fan maximum power  "
      default 1.0
      range 0.1 1.0
      help
        Maximum power setting for the fan (0.1 to 1.0).
        1.0 = 100% power

    config PARAM_FAN_KICK_START_TIME
      float "Fan kick start time"
      default 0.5
      range 0 3.0
      help
        Time in seconds to run fan at full power before resetting to target speed.

    if !MMU_HAS_PER_GATE_MCU
      config PIN_FAN
        prompt "Fan pin            "
        help
          Pin for cooling fan.
          Leave blank if you don't have a fan installed.
          Empty pins will be ignored in the generated configuration.
    endif

    menu "Fan pins" 
      depends on MMU_HAS_LEDS && MMU_HAS_PER_GATE_MCU

      @repeat var=i min=0 max=11@
        config PIN_FAN_$(i)
          string "Fan $(i) pin" if PARAM_NUM_GATES > $(i)
          help 
            Leave blank if this gate does not have a fan installed.
      @endrepeat@
    endmenu

  endmenu

  comment "_"

endif
